<div class="card bg-info mb-3">
  <div class="card-body">
    <h1 class="card-title text-center">Log in</h1>
    <h2 class="card-subtitle mb-2 text-center font-italic">Let's start sharing places</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "form-control" %>
        <small id="emailHelp" class="form-text font-italic">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", :class => "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", :class => "btn btn-primary btn-block" %>
        <br>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
