<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
        <% place.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= form.label :lat, "Latitude" %>
    <%= form.text_field :lat, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :lon, "Longitude" %>
    <%= form.text_field :lon, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :public_status %>
    <%= form.check_box :public_status %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
