<div class="col-sm-12">
<p id="notice"><%= notice %></p>
  <div class="card">
  <div id="map" class="map" style="width: 100%; height: 400px"></div>
    <div class="card-body">
      <h5 class="card-title text-info"><%= @place.name %></h5>
      <p class="card-text text-muted">Latitude: <%= @place.lat %></p>
      <p class="card-text text-muted">Longitude: <%= @place.lat %></p>
      <p class="card-text text-muted">Shared by: <%= @place.users.pluck("username").first %></p>
    <% if current_user %>
      <% if current_user.id === @place.place_permissions.pluck("user_id").first%>
        <%= link_to 'Edit', edit_place_path(@place), :class => "btn btn-outline-warning btn-block" %>
        <%= link_to 'Back', places_path, :class => "btn btn-outline-secondary btn-block" %> 
      <% else %>
       <%= link_to 'Back', places_path, :class => "btn btn-outline-secondary btn-block" %>
      <% end %>
    <% else %>
      <%= link_to 'Back', places_path, :class => "btn btn-outline-secondary btn-block" %>
    <% end %>
    </div>
  </div>
</div>