<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @place.lon %>
</p>

<p>
  <strong>Public status:</strong>
  <%= @place.public_status %>
</p>

<p>
  <strong>User:</strong>
  <%= @place.user_id %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
