<!DOCTYPE html>
<html>
  <head>
    <title>QiPlaceSharing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="d-flex flex-column h-100">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render 'shared/navigation' %>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
